<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=PT+Sans:ital@1&display=swap" rel="stylesheet">
        </head>
        <body>
        <header>
            <div class="container">
                <div class="wrapper">
                    <div class="logo">
                        <ul class="akero">
                            <div class="akesh">
                            <li class="g1"><a>О НАС</a></li>
                            <li class="g2"><a>КАТАЛОГ</a></li>
                            <li class="g3"><a>ЧАСТЫЕ ВОПРОСЫ</a></li>
                        </div>
                            <div class="young">
                                <img src="../layout/img/Покой.png" class="search">
                            </div>
                            <div class="young2">
                                <img src="../layout/img/Покой (2).png" class="chs">
                            </div>
                            <div class="young3">
                                <img src="../layout/img/Элементы/Кнопка меню/Покой.png" class="ake">
                            </div>
                        </ul>
                        <div class="korol">
                            <img src="../layout/img/Union.png" class="string">
                        </div>
                        <div class="layout">
                            <div class="ff">
                                <h1 class="top">БЫСТРО</h1>
                                <img src="./img/Rectangle 5.png" class="wer">
                                <p class="raul2">Мы делаем свою работу быстро! Два часа пролетят незаметно, и вы — счастливый обладатель стильной стрижки-минутки!</p>
                            </div>
                            <div class="ff1">
                                <h1 class="top">КРУТО</h1>
                                <img src="./img/Rectangle 5.png" class="wer2">
                                <p class="raul2">Забудьте, как вы стриглись раньше.<br>Мы сделаем из вас звезду футбола или кино! <br> Во всяком случае внешне.</p>
                            </div>
                            <div class="ff2">
                                <h1 class="top">ДОРОГО</h1>
                                <img src="./img/Rectangle 5.png" class="wer3">
                                <p class="raul2">Наши мастера — профессионалы<br> своего дела и не могут стоить дешево.<br> к тому же, разве цена не даёт определённый статус?</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrappero">
                <div class="wrapper-to">
                    <div class="desk-left">
                        <h1>ПОПУЛЯРНЫЕ УСЛУГИ</h1>
                        <h2>СТРИЖКА МАШИНОЙ</h2>
                        <div class="jjj"></div>
                        <h2 class="daria">800 ₽</h2>
                        <h2>СТРИЖКА УСОВ</h2>
                        <div class="jjj1"></div>
                        <h2 class="daria1">1200 ₽</h2>
                        <h2>ГРУМИНГ</h2>
                        <div class="jjj2"></div>
                        <h2 class="daria2">400 ₽</h2>
                        <h2>КОМПЛЕКСНАЯ СТРИЖКА</h2>
                        <div class="jjj3"></div>
                        <h2 class="daria3">2300 ₽</h2>
                        <div class="butto">
                            <a href="" class="intro">ПОСМОТРЕТЬ ВСЕ
                            </a>
                            <img src="../layout/img/Стрелка (Stroke).png" class="love">
                        </div>
                    </div>
                    <div class="chick">
                        <img src="../layout/img/Index/Vector 9.png">
                    </div>
                    <div class="desk-right">
                        <h1>ФОТОГАЛЕРЕЯ</h1>
                        <div class="lulimen">
                            <img src="../layout/img/Rectangle 6.png" class="luli1">
                                <div class="butt">
                                    <a class="young"> > </a>
                                </div>
                                <div class="butt1">
                                    <a class="young1"> < </a>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mid">
                    <div class="light">
                        <h1>КОНТАКТЫ</h1>
                        <div class="diko">
                        <h2 class="kesh">БАРБЕРШОП «БОРОДЕНСКИЙ»</h2>
                        <p>Санкт-Петербург, набережная реки Карповки, 5,<br> литера П.</p>
                        <h2>+7 800 555-86-28</h2>
                    </div>
                    <div class="diko2">
                        <h2 class="kesh">ВРЕМЯ РАБОТЫ</h2>
                        <p class="deker">пн—пт: с 10:00 до 22:00<br>сб—вс: с 10:00 до 19:00</p>
                    </div>
                    <div class="wahyi">
                    <div class="buddo">
                        <a href="" class="revenge">КАК ПРОЕХАТЬ
                        </a>
                    </div>
                    <div class="buddo2">
                        <a href="" class="revenge2">ОБРАТНАЯ СВЯЗЬ
                        </a>
                    </div>
                </div>
                    </div>
                    <div class="chick2">
                        <img src="../layout/img/Vector 9.png">
                    </div>
                    <div class="dark">
                        <h1>ЗАПИСАТЬСЯ</h1>
                        <p class="quero">Укажите желаемую дату и время и мы свяжемся с вами для подтверждения брони.</p>
                        <div class="tatu">
                            <div class="hhhhh">
                            <h3>ДАТА</h3>
                            <input type="text" placeholder="01.01.2020" class="try1">
                        </div>
                        <div class="hhhhh2">
                            <h3>ВРЕМЯ</h3>
                            <input type="text" placeholder="10:10" class="try2">
                        </div>
                        <div class="hhhhh3">
                            <h3>ТЕЛЕФОН</h3>
                            <input type="text" placeholder="+7 800 000-00-00" class="try3">
                        </div>
                        </div>
                        <div class="hhhhh4">
                            <h3>ВАШЕ ИМЯ</h3>
                            <input type="text" class="try4">
                        </div>
                        <div class="select">
                            <a href="" class="select1">ЗАПИСАТЬСЯ
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </header>
        <div class="footer">
            <div class="geniu">
                <div class="keki">
                    <img src="../layout/img/Union9.png">
                    <p>Санкт-Петербург, набережная<br>
                        реки Карповки, 5, литера П.</p>
                        <div class="goat">
                        <h3>+7 800 555-86-28</h3>
                        <h3>КАК НАС НАЙТИ?</h3>
                    </div>
                </div>
                <div class="keki1">
                    <h3>ПОЛУЧАЙТЕ ЛУЧШИЕ ПРЕДЛОЖЕНИЯ</h3>
                    <div class="lohi">
                    <input type="text" class="emoil" placeholder="email@example.com">
                    <img src="../layout/img/Покойkl.png">
                </div>
                </div>
                <div class="keki2">
                    <h3>ДАВАЙТЕ ДРУЖИТЬ</h3>
                    <div class="pov">
                    <img src="../layout/img/akert.png">
                    <img src="../layout/img/akert1.png">
                    <img src="../layout/img/akert2.png">
                </div>
                </div>
            </div>
        </div>
        <script src="script.js"></script>
        </body>
</html>